<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Veggiebot test</title>
  </head>
  <body>
    <p>Testing the POST method called by the Slack /yum command</p>
    <form action="/" method="post">
      <input type="text" name="text" value="ingredient" />
      <input type="submit" />
    </form>
  </body>
</html>
